<!DOCTYPE html>
<html>
    <head>
        <title>Go Gin Demo App</title>
    </head>
    <body>
        <h1>Go Gin Demo App</h1>

        <ul>
            <li><a href="{{.WaveURL}}">Varying response time BT</a></li>
            <li><a href="{{.ErrorAlways}}">Always error BT</a></li>
            <li><a href="{{.ErrorSometimes}}">Sometimes error BT</a></li>
            <li><a href="{{.QueryPgSQL}}">PgSQL Query</a></li>
            <li><a href="{{.HTTPExitCall}}">HTTP Exit Call</a></li>
        </ul>
    </body>
</html>
